<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>

    <form class="main" method="POST">
        <div class="main">
          <img src="{{url_for('static', filename='login_success.jpg')}}"
             alt="No image found!"
             width="450px"
             height="300px"
             class="image">
        </div>

        <h1 class="main">Logged in as: {{ value }}</h1>

        <form action="/update_password" method="POST">

            <p>Current password: <input type="password" placeholder="Enter current password" name="current_password" required></p>
            <p>New password: <input type="password" placeholder="Enter New Password" name="new_password" required></p>
            <p>Retype password: <input type="password" placeholder="Retype New Password" name="retype_password" required></p>
            <button type="submit"><strong>Update</strong></button>

        </form>

        <div class="main">
        {% if msg %}
            {% if msg_color == 'red' %}
                <h3 style="color :red; ">{{ msg }}</h3>
            {% elif msg_color == 'green' %}
                <h3 style="color :green; ">{{ msg }}</h3>
            {% endif %}
        {% endif %}
        </div>

    </form>

    <br>

    <button class="main" onclick="window.location.href='/';">
          <h3>Return to home</h3>
    </button>

    <button class="main" onclick="window.location.href='/logout';">
          <h3>Logout</h3>
    </button>

</body>

<!-- Styles header and image with center alignment -->
<style>
.main {
    margin: 10px auto 20px;
    display: block;
    text-align: center;
}
</style>

</html>