<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <meta charset="UTF-8">
    <!-- This text will be displayed on top of browser -->
    <title>Ethical Food</title>

    <!-- Header and subheader on top of page -->
    <h1 class="main">Eating Ethically</h1>
    <h3 class="main">How my diet reflects my values.</h3>

    <!-- Link to image -->
    <img class="main"
         src="https://images.unsplash.com/photo-1538472861466-364b23ad4286?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
         alt="Image not found!"
         width="650px"
         height="500px">

    <!-- Main body of text -->
    <h4>Empathy for animals</h4>
    <p>I want to live in a kinder, more compassionate world. Once we realize that other animals have a central nervous system and can
    think and feel similar to how we humans do, it becomes an unavoidable necessity to be concerned about the suffering not only of
    humans, but of all sentient beings. This includes not only animals that we have been conditioned by our culture to feel compassion for like
    dogs and cats, but other animals as well like chickens, pigs, and cows. For most of us, the horror of what livestock animals have to
    go through in order for us to buy milk, cheese, meat, and eggs at the grocery store, is far removed from our awareness. We do not see
    what and how these animals suffer because it happens at the hands of other people, out of our sight and out of our consciousness.
    But a simple search on the internet and a willingness to stomach what we might see will reveal just how cruel factory farms are. And the
    worst part of it is that all this suffering can so easily be avoided by simply choosing not to buy these animal products when we shop.
    If enough people stop buying milk, cheese, meat, and eggs, these industries will no longer be financially viable and the demand for
    animal products will decrease.</p>

    <h4>Better for the environment</h4>
    <p>The meat farming industry is one of the leading causes of pollution in the world, contributing to climate change. In order to keep up
    with demand for meat products, farmers must grow enormous amounts of plants and grains to feed and raise the animals and use up millions
    of acres of land to keep the animals on. This is land and plants that could otherwise go directly to humans. According to
        <a href="https://vegan.org/about-veganism/">vegan.org</a>, you
    can save the lives of 200 animals per year, save 1.3 million gallons of water, and 1.5 tons of carbon emissions by switching to a vegan diet.</p>

    <!-- Button links to other HTML file -->
    <button onclick="window.location.href='/';">
      Back to Home
    </button>

    <br>
    <br>
    <!-- Loads current date and time from Python datetime module -->
    <p>Page loaded on: {{ datetime }}</p>


</body>

<!-- Styles header and image with center alignment -->
<style>
.main {
    margin: 10px auto 20px;
    display: block;
    text-align: center;
}
</style>

</html>
